In [1]:
import pandas as pd, numpy as np

In [2]:
ro=['5765358043206','9812808043220','9576658043223','1699958043227','7225068043228','265208043229']
hu=['8073718043234','2087988043232','6247548043235']

In [3]:
stations=[]
for i in ro+hu:
    stations.append(pd.read_csv(i+'stn+.txt',delimiter= '+',skiprows=2,header=None))
    print(i)

5765358043206
9812808043220
9576658043223
1699958043227
7225068043228
265208043229
8073718043234
2087988043232
6247548043235

In [4]:
station=pd.concat(stations)

In [5]:
station=station.drop_duplicates()

In [53]:
station[2]=station[2].str.strip()
station[3]=station[3].str.strip()

In [195]:
dfs=[]
for i in ro+hu:
    df=pd.read_csv(i+'dat.txt',delimiter= '\s+')
    df=df.replace({'******':np.nan,'*****':np.nan,'****':np.nan,'***':np.nan,'**':np.nan,'*':np.nan})
    df['time']=pd.to_datetime(df['YR--MODAHRMN'],format='%Y%m%d%H%M')
    df=df[['time','USAF','SPD','TEMP','PCP06','SD','MW','AW','W']]
    df['TEMP']=(pd.to_numeric(df['TEMP'], errors='coerce')-32)*5/9
    df['SPD']=pd.to_numeric(df['SPD'], errors='coerce')*1.61
    df['PCP06']=pd.to_numeric(df['PCP06'], errors='coerce')*25.4
    df['SD']=pd.to_numeric(df['SD'], errors='coerce')*25.4
    dfs.append(df)
    print(i)

5765358043206
9812808043220
9576658043223
1699958043227
7225068043228
265208043229

C:\ProgramData\Anaconda3\envs\plotly\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning:

Columns (4,11,12,21,22,23,25) have mixed types. Specify dtype option on import or set low_memory=False.

8073718043234
2087988043232

C:\ProgramData\Anaconda3\envs\plotly\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning:

Columns (4,11,12,20,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.

6247548043235

In [200]:
dfs=pd.concat(dfs)

In [201]:
dfs=dfs.drop_duplicates()

In [202]:
dfs.to_csv('data/all.csv')

In [8]:
# dfs=pd.read_csv('data/all.csv')

In [9]:
dfs['time']=pd.to_datetime(dfs['time'])
dfs['year']=dfs['time'].dt.year
dfs['month']=dfs['time'].dt.month
dfs['day']=dfs['time'].dt.day
dfs['hour']=dfs['time'].dt.hour

In [10]:
df=dfs.groupby(['USAF','year','month','day','hour'])[['TEMP','SPD','SD','PCP06']]

In [11]:
df_avg=df.mean()

In [12]:
df_avg.columns=['temp_avg','spd_avg','snow_avg','rain_avg']

In [13]:
df_avg=np.round(df_avg,1)

In [14]:
#keep only months with at least 6 days to avoid anomalies (20%)
filt=df_avg.reset_index().groupby(['USAF','year','month'])[['day']].nunique()
filt2=filt[filt>5].dropna()

In [22]:
#keep only years with at least 3 months to avoid anomalies (20%)
filt3=filt2.reset_index().groupby(['USAF','year'])[['month']].nunique()
filt4=filt3[filt3>3].dropna()

In [16]:
df_avg2=df_avg.reset_index().set_index(['USAF','year'])

In [7]:
dfz={}

In [24]:
for i in filt4.index.unique(0):
    d=df_avg2.loc[i].loc[filt4.loc[i].index.unique()]
    dfz[i]=d
    d.to_csv('data/'+str(i)+'.csv')
    print(i)

119000
127560
127660
127720
127860
128050
128120
128150
128220
128250
128300
128305
128310
128360
128380
128390
128400
128430
128460
128470
128510
128550
128600
128603
128605
128660
128700
128820
128920
129100
129150
129200
129220
129250
129255
129300
129320
129350
129400
129410
129420
129500
129600
129700
129820
129920
150000
150001
150002
150010
150040
150070
150090
150100
150105
150140
150150
150200
150230
150235
150250
150320
150330
150400
150410
150420
150440
150470
150520
150550
150560
150630
150690
150730
150750
150800
150830
150850
150880
150890
150900
150940
150950
150990
151070
151080
151090
151110
151130
151170
151180
151190
151200
151205
151230
151240
151270
151320
151340
151360
151380
151400
151430
151450
151455
151480
151500
151540
151580
151590
151600
151620
151630
151650
151680
151700
151740
151790
151820
151840
151890
151940
151970
151990
152000
152005
152040
152060
152080
152090
152120
152150
152170
152190
152210
152300
152310
152350
152380
152410
152450
152470
152540
152590
152600
152610
152620
152640
152650
152670
152700
152730
152770
152790
152800
152820
152840
152850
152870
152890
152920
152960
152970
152980
152990
153000
153010
153020
153070
153100
153140
153150
153160
153170
153190
153200
153210
153240
153250
153280
153330
153350
153355
153360
153370
153380
153400
153410
153440
153450
153460
153470
153490
153500
153550
153560
153600
153630
153640
153660
153690
153730
153750
153770
153870
153880
153890
153950
154020
154050
154060
154080
154090
154100
154120
154160
154190
154200
154210
154215
154220
154230
154240
154250
154280
154290
154340
154430
154440
154450
154470
154500
154510
154550
154600
154620
154650
154690
154700
154750
154760
154770
154790
154800
154810
154820
154890
154900
154910
154930
154931
154940
154980
154990

Load

In [9]:
import os
arr = os.listdir('data/')

In [15]:
for i in arr:
    if i not in ['all.csv']:
        dfz[i[:-4]]=pd.read_csv('data/'+i)
        print(i)

119000.csv
127560.csv
127660.csv
127720.csv
127860.csv
128050.csv
128120.csv
128150.csv
128220.csv
128250.csv
128300.csv
128305.csv
128310.csv
128360.csv
128380.csv
128390.csv
128400.csv
128430.csv
128460.csv
128470.csv
128510.csv
128550.csv
128600.csv
128603.csv
128605.csv
128660.csv
128700.csv
128820.csv
128920.csv
129100.csv
129150.csv
129200.csv
129220.csv
129250.csv
129255.csv
129300.csv
129320.csv
129350.csv
129400.csv
129410.csv
129420.csv
129500.csv
129600.csv
129700.csv
129820.csv
129920.csv
150000.csv
150001.csv
150002.csv
150010.csv
150040.csv
150070.csv
150090.csv
150100.csv
150105.csv
150140.csv
150150.csv
150200.csv
150230.csv
150235.csv
150250.csv
150320.csv
150330.csv
150400.csv
150410.csv
150420.csv
150440.csv
150470.csv
150520.csv
150550.csv
150560.csv
150630.csv
150690.csv
150730.csv
150750.csv
150800.csv
150830.csv
150850.csv
150880.csv
150890.csv
150900.csv
150940.csv
150950.csv
150990.csv
151070.csv
151080.csv
151090.csv
151110.csv
151130.csv
151170.csv
151180.csv
151190.csv
151200.csv
151205.csv
151230.csv
151240.csv
151270.csv
151320.csv
151340.csv
151360.csv
151380.csv
151400.csv
151430.csv
151450.csv
151455.csv
151480.csv
151500.csv
151540.csv
151580.csv
151590.csv
151600.csv
151620.csv
151630.csv
151650.csv
151680.csv
151700.csv
151740.csv
151790.csv
151820.csv
151840.csv
151890.csv
151940.csv
151970.csv
151990.csv
152000.csv
152005.csv
152040.csv
152060.csv
152080.csv
152090.csv
152120.csv
152150.csv
152170.csv
152190.csv
152210.csv
152300.csv
152310.csv
152350.csv
152380.csv
152410.csv
152450.csv
152470.csv
152540.csv
152590.csv
152600.csv
152610.csv
152620.csv
152640.csv
152650.csv
152670.csv
152700.csv
152730.csv
152770.csv
152790.csv
152800.csv
152820.csv
152840.csv
152850.csv
152870.csv
152890.csv
152920.csv
152960.csv
152970.csv
152980.csv
152990.csv
153000.csv
153010.csv
153020.csv
153070.csv
153100.csv
153140.csv
153150.csv
153160.csv
153170.csv
153190.csv
153200.csv
153210.csv
153240.csv
153250.csv
153280.csv
153330.csv
153350.csv
153355.csv
153360.csv
153370.csv
153380.csv
153400.csv
153410.csv
153440.csv
153450.csv
153460.csv
153470.csv
153490.csv
153500.csv
153550.csv
153560.csv
153600.csv
153630.csv
153640.csv
153660.csv
153690.csv
153730.csv
153750.csv
153770.csv
153870.csv
153880.csv
153890.csv
153950.csv
154020.csv
154050.csv
154060.csv
154080.csv
154090.csv
154100.csv
154120.csv
154160.csv
154190.csv
154200.csv
154210.csv
154215.csv
154220.csv
154230.csv
154240.csv
154250.csv
154280.csv
154290.csv
154340.csv
154430.csv
154440.csv
154450.csv
154470.csv
154500.csv
154510.csv
154550.csv
154600.csv
154620.csv
154650.csv
154690.csv
154700.csv
154750.csv
154760.csv
154770.csv
154790.csv
154800.csv
154810.csv
154820.csv
154890.csv
154900.csv
154910.csv
154930.csv
154931.csv
154940.csv
154980.csv
154990.csv

In [16]:
stationc=station.set_index(0)[2]

In [23]:
stationx={}
for z in dfz:
    stationx[stationc.loc[int(z)]]={'id':z,'yrs':len(dfz[z]['year'].unique())}

In [28]:
dq=pd.DataFrame(stationx).T.reset_index().set_index('yrs').sort_index(ascending=False)

In [33]:
dq.head(5)

                     index      id
yrs
72            AUREL VLAICU  154200
68                  GALATI  153100
67             CLUJ NAPOCA  151200
67   DROBETA TURNU SEVERIN  154100
66               CONSTANTA  154800

In [65]:
dds=[]
indicator='temp_avg'
for a in dq.head(500)['id'].values:
    dw=dfz[a]
    tmean=dw.groupby(['month','hour']).mean()[[indicator]]
    tmean.columns=['temp_mean']
    dw=dw.loc[1980:]
    dw=dw.loc[:2010]
    tmean80=dw.groupby(['month','hour']).mean()[[indicator]]
    tmean80.columns=['temp_mean80']
    dc=dfz[a].groupby(['year','month','hour']).mean()[[indicator]].join(tmean).join(tmean80)
    dc['temp_delta']=dc[indicator]-dc['temp_mean']
    dc['temp_delta80']=dc[indicator]-dc['temp_mean80']
    dd=dc.groupby(['year']).mean()
    dd=np.round(dd,1)
    dd['varos']=stationc[int(a)]
    dd['value']=1
    dds.append(dd)
ddb=pd.concat(dds)
ddb.to_csv('stripes/geo.csv')

In [66]:
dgeo=ddb.reset_index().set_index('varos').join(station.set_index(2))
dgeo[dgeo[3]=='HUNGARY'].to_csv('stripes/geotest.csv')

In [59]:
dgeo.loc['BUDAPEST MET CENTER']

,year,temp_avg,temp_mean,temp_mean80,temp_delta,temp_delta80,value,0,1,3,4,5,6
BUDAPEST MET CENTER,1931,10.7,11.4,8.8,-0.7,1.4,1,128400,99999,HUNGARY,47.517,19.033,129.0
BUDAPEST MET CENTER,1932,11.0,11.4,8.8,-0.4,3.1,1,128400,99999,HUNGARY,47.517,19.033,129.0
BUDAPEST MET CENTER,1933,10.5,11.4,8.8,-0.9,1.1,1,128400,99999,HUNGARY,47.517,19.033,129.0
BUDAPEST MET CENTER,1934,12.7,11.4,8.8,1.2,5.6,1,128400,99999,HUNGARY,47.517,19.033,129.0
BUDAPEST MET CENTER,1935,11.5,11.4,8.8,0.1,3.0,1,128400,99999,HUNGARY,47.517,19.033,129.0
BUDAPEST MET CENTER,1936,11.9,11.4,8.8,0.5,3.4,1,128400,99999,HUNGARY,47.517,19.033,129.0
BUDAPEST MET CENTER,1937,11.9,11.4,8.8,0.5,2.3,1,128400,99999,HUNGARY,47.517,19.033,129.0
BUDAPEST MET CENTER,1938,11.9,11.4,8.8,0.5,0.5,1,128400,99999,HUNGARY,47.517,19.033,129.0
BUDAPEST MET CENTER,1939,14.0,13.1,8.8,0.9,6.6,1,128400,99999,HUNGARY,47.517,19.033,129.0
BUDAPEST MET CENTER,1952,11.0,10.8,8.8,0.3,6.8,1,128400,99999,HUNGARY,47.517,19.033,129.0
BUDAPEST MET CENTER,1953,11.2,10.8,8.8,0.4,4.1,1,128400,99999,HUNGARY,47.517,19.033,129.0
BUDAPEST MET CENTER,1954,10.0,10.8,8.8,-0.8,0.6,1,128400,99999,HUNGARY,47.517,19.033,129.0
BUDAPEST MET CENTER,1955,10.3,10.8,8.8,-0.5,0.3,1,128400,99999,HUNGARY,47.517,19.033,129.0
BUDAPEST MET CENTER,1956,9.5,10.8,8.8,-1.3,2.6,1,128400,99999,HUNGARY,47.517,19.033,129.0
BUDAPEST MET CENTER,1959,11.0,11.5,NaN,-0.5,NaN,1,128400,99999,HUNGARY,47.517,19.033,129.0
BUDAPEST MET CENTER,1960,11.2,11.1,8.8,0.2,2.8,1,128400,99999,HUNGARY,47.517,19.033,129.0
BUDAPEST MET CENTER,1992,16.6,15.5,8.8,1.1,4.6,1,128400,99999,HUNGARY,47.517,19.033,129.0
BUDAPEST MET CENTER,1993,11.9,11.4,11.8,0.3,-1.8,1,128400,99999,HUNGARY,47.517,19.033,129.0

In [127]:
dw.groupby(['month','hour']).mean().loc[[(i,j) for i in [1,4,7,10] for j in [0,6,12,18]]][indicator].count()

16

            year        day   temp_avg    spd_avg  snow_avg  rain_avg
month hour
1     0     1952  15.620690  -0.053571  12.031034       NaN       NaN
      0     1953  16.000000  -2.687097  14.893548       NaN       NaN
      0     1954  16.931034  -9.058621  13.648276       NaN       NaN
      0     1955  16.037037  -1.307692  10.781481       NaN       NaN
      0     1956  16.551724  -1.462963   7.927586       NaN       NaN
...          ...        ...        ...        ...       ...       ...
10    18    2015  16.000000  10.729032   7.364516       NaN       NaN
      18    2016  16.000000   9.693548   8.003226  0.819355       NaN
      18    2017  16.000000  11.416129   6.041935  1.638710       NaN
      18    2018  16.000000  12.974194   5.135484  0.000000       NaN
      18    2019   1.000000  18.300000   8.900000  0.000000       NaN

[1090 rows x 6 columns]

In [227]:
dds=[]
indicator='temp_avg'
clean_months=[1,4,7,10]
clean_hours=[0,6,12,18]
clean_slice=[(i,j) for i in clean_months for j in clean_hours]
for a in dq['id'].values:
    dw=dfz[a].groupby(['month','hour']).mean().loc[clean_slice]
    if dw[indicator].count()==len(clean_hours)*len(clean_months):
        tmean=dw.groupby(['month','hour']).mean()[[indicator]]
        tmean.columns=['temp_mean']
        dc=dfz[a].set_index(['month','hour']).loc[clean_slice].reset_index()
        dx=dc.groupby(['year']).nunique()
        full_data_years=dx[((dx['month']==len(clean_months))&(dx['hour']==len(clean_hours)))].index
        dc=dc.groupby(['year','month','hour']).mean()[[indicator]].loc[full_data_years].join(tmean)
        dc['temp_delta']=dc[indicator]-dc['temp_mean']
        dd=dc.groupby(['year']).mean()
        dd=np.round(dd,1)
        dd['varos']=stationc[int(a)]
        dd['value']=1
        dds.append(dd)
ddb=pd.concat(dds)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike

In [229]:
dgeo=ddb.reset_index().set_index('varos').join(station.set_index(2))
dgeo[dgeo[3]=='HUNGARY'].to_csv('stripes/hu.csv')
# dgeo[dgeo[3]=='ROMANIA'].to_csv('stripes/geotest.csv')
# dgeo.to_csv('stripes/geotest.csv')